.container {
  width: 80%;
  max-width: 60rem;
  margin: 1rem auto 0;
  background: rgba(19, 158, 223, 0.2);
  background: linear-gradient(
    135deg,
    rgba(19, 158, 223, 0.2),
    rgba(16, 19, 182, 0.1)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
}
