.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cover {
  width: 95%;
  max-height: 20rem;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 1rem 1rem 2rem hsl(197, 79%, 21%);
  animation: zoom 1s ease;
  z-index: 1;
}

@keyframes zoom {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.info-row {
  display: flex;
  width: 90%;
  margin-bottom: 2rem;
}
.avt {
  max-width: 15rem;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -8rem;

  border: 0.2rem rgb(14, 197, 182) solid;
  box-shadow: 1rem 1rem 1rem hsl(198, 39%, 15%);
  z-index: 2;
}
.name-section {
  margin-left: 2rem;
}

.name-section .name {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Segoe UI", sans-serif;
  color: aqua;
  /* background: linear-gradient(180deg, #fbfbfc, #0ca4eb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.name-section .user-name {
  font-size: 1.5rem;
  font-style: italic;
  font-family: Arial, sans-serif;
  color: #cccc;
}
.bio {
  font-size: 2rem;
  border-bottom: 0.1rem solid rgb(44, 105, 185);
  width: 90%;
  text-align: center;
  padding: 0.4rem;
}
